.main_block {
  width: 1440px;
  background: linear-gradient(
    110deg,
    #cfc0ab 7.11%,
    rgba(207, 192, 171, 0) 100%
  );
  margin: 0 auto;
}
.container_mainblock {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}
.main_block_title {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 64px;
}
.lesson {
  margin-top: 32px;
}
.lesson_title_one {
  text-align: center;
  font-family: Poiret One;
  font-size: 32px;
  font-weight: 400;
  text-decoration-line: underline;
}
.lesson_name {
  font-size: 30px;
  text-align: center;
  margin-top: 24px;
}
.about_lesson {
  margin-top: 26px;
  font-family: Poiret One;
  font-size: 32px;
  font-weight: 400;
  text-decoration-line: underline;
}
.block_text {
  margin-top: 24px;
}
.lesson_text {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 12px;
  padding-left: 4px;
  height: 51px;
  font-family: Poiret One;
  font-size: 24px;
  font-weight: 400;
  border-left: 4px solid #b8aa96;
  max-width: 762px;
}
@media (min-width: 375px) and (max-width: 768px) {
  .main_block {
    width: 100%;
  }
  .container_mainblock {
    width: 100%;
    padding: 0 16px;
  }
  .main_block_title {
    padding-top: 46px;
    font-size: 24px;
  }
  .lesson {
    margin-top: 24px;
  }
  .lesson_name {
    font-size: 24px;
    margin-top: 16px;
  }
  .about_lesson {
    margin-top: 11px;
    font-size: 20px;
    text-align: center;
  }
  .block_text {
    margin-top: 12px;
  }
  .lesson_text {
    height: 100%;
    /* heit можно зафиксировать в адаптиве */
  }
}
/* lesson 2 */
.lesson_all {
  margin-top: 68px;
}
.lesson_number {
  text-align: center;
  font-family: Poiret One;
  font-size: 32px;
  font-weight: 400;
  text-decoration-line: underline;
}
.lesson_title {
  text-align: center;
  margin-top: 32px;
  font-size: 30px;
}
.lesson_subtitle {
  text-align: center;
  margin-top: 24px;
}
.lesson_video {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}
.lesson_img {
  margin-top: 24px;
  gap: 24px;
  display: flex;
}
.about_lesson_slayder {
  margin-top: 32px;
  border-bottom: 3px solid black;
  font-size: 32px;
  max-width: 416px;
  font-family: Poiret One;
}
.lesson_text_slayder {
  font-family: Poiret One;
  font-size: 22px;
  border-left: 4px solid #b8aa96;
  height: 51px;
  display: flex;
  align-items: center;
  padding-left: 4px;
  margin-top: 14.5px;
  max-width: 565px;
}
.lesson_text_slayder_mod {
  font-family: Poiret One;
  font-size: 22px;
  border-left: 4px solid #b8aa96;
  height: 51px;
  display: flex;
  align-items: center;
  padding-left: 4px;
  margin-top: 24px;
  max-width: 390px;
}
.lesson_text_slayder_mod2 {
  font-family: Poiret One;
  font-size: 22px;
  border-left: 4px solid #b8aa96;

  display: flex;
  align-items: center;
  padding-left: 4px;
  margin-top: 24px;
  max-width: 390px;
}
.slayder_block_text {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 9.5px;
}
.strelka_parant {
  display: flex;
  justify-content: end;
  margin-top: 32px;
}
.strelka_svg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.strelka {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 274px;
}
.strelka a {
  cursor: pointer;
  color: #1b1818;
  font-size: 18px;
  padding-bottom: 14px;
}
@media (min-width: 375px) and (max-width: 768px) {
  .lesson_video {
    margin-top: 18px;
    max-width: 100%;
  }
  .lesson_img {
    display: none;
  }
}
